<ion-header>
  <ion-toolbar>
    <ion-title>Products Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-searchbar animated></ion-searchbar>

<ion-list>
  <ng-container *ngIf="!products || products.length == 0">
    <div *ngFor="let n of [0,1,2]" padding>
      <ion-skeleton-text></ion-skeleton-text>
      <p>
        <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
      </p>
    </div>
  </ng-container>
  <ion-item-sliding *ngFor="let item of products">
    <ion-item lines="inset" button [routerLink]="['/details', item.id]">
      <ion-label>
        {{ item.title }}
      </ion-label>
    </ion-item>
  </ion-item-sliding>
</ion-list>

<ion-content>

</ion-content>
